@page "/"

<h1>Hello, Employees.....!!!!</h1>

Welcome to the blaze company. Hope you have a great time and experience here.

<SurveyPrompt Title="How well is your coding...??? "/>

<a href="Register">
    <MatButton>Employee Registeration</MatButton>
</a>
